@import './mixin/text-gradient.scss';

.material-icons {
  vertical-align: sub;
}

.navbar-nav .nav-link {
  font-size: 18px;
}

.block-title {
  position: relative;
}

.block-title::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translate(50%, 16px);
  width: 50px;
  height: 3px;
  background-color: $main-green;
}

.text-gradient {
  @include text-gradient;
}

// hero
.hero {
  background-image: url(../images/bg_home_mobile.jpg);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  padding-top: 22.22%;
  padding-bottom: 22.22%;

  .hero-title {
    font-size: 24px;
  }

  .hero-subtitle {
    font-size: 14px;
  }

  @include media-breakpoint-up(md) {
    background-image: url(../images/bg_home.jpg);
    background-size: cover;
    padding-top: 14.31%;
    padding-bottom: 14.31%;

    .hero-title {
      font-size: 48px;
    }

    .hero-subtitle {
      font-size: 18px;
    }
  }
}

.intro {
  .card {
    border: none;
    border-radius: 12px;
    background-color: $dark;

    .material-icons {
      @include text-gradient;
      font-size: 50px;
    }

    @include media-breakpoint-up(xl) {
      opacity: 0.5;
      background-color: $primary;
      .material-icons {
        color: $white;
      }

      &:hover {
        opacity: 1;
        outline: $main-green 1px solid;
        background-color: $dark;
        .material-icons {
          @include text-gradient;
        }
      }
    }
  }

  @include media-breakpoint-up(xl) {
    .block-title::after {
      left: 0;
      transform: translate(0, 16px);
    }
  }
}

.course-flow {
  .card {
    border-radius: 12px;
    background-color: unset;
  }

  .course-flow-number {
    color: $main-green;
    font-size: 48px;
    line-height: 56px;
    font-family: $font-family-monospace;
    font-weight: bold;
    display: block;
    position: absolute;
    padding-left: 8px;
    padding-right: 8px;
    transform: translate(-8px, -135%);
    background-color: #1c1c1c;
  }
}

.recomand-course {
  .teacher {
    &.card:hover {
      outline: 2px solid $main-green;
    }

    .card-title {
      line-height: 29px;
      @include media-breakpoint-up(md) {
        min-height: 58px;

      }
    }

    .card-footer {
      border-top: 1px #c1c1c1 solid;
    }
  }

  .btn-course {
    background: linear-gradient(to right, $main-blue, $main-green);
    border-radius: 8px;
  }
}
