@import './mixin/text-gradient.scss';

.navbar-nav .nav-link {
  font-size: 18px;
}

.block-title {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translate(50%, 16px);
    width: 50px;
    height: 3px;
    background-color: $main-green;
  }
}



.text-gradient {
  @include text-gradient;
}

.btn-gradient {
  color: $white;
  background: linear-gradient(to right, $main-blue, $main-green);
  border-radius: 8px;
  border: none;

  &:hover {
    background: unset;
    outline: 1px solid $white;
  }

  &:focus {
    box-shadow: 0 0 0 0.25rem rgba($main-green, 0.25);
    background: linear-gradient(to right, $main-blue, $main-green);
  }
}

.rounded-lg {
  border-radius: 1.5rem;
}

.bg-size-cover{
  background-size: cover;
}

.bg-position-center{
  background-position: center;
}

.bg-info-1{
  background-image: url(../images/info01.jpg);
}

.bg-info-2{
  background-image: url(../images/info02.jpg);
}

.bg-info-3{
  background-image: url(../images/info03.jpg);
}

.bg-info-4{
  background-image: url(../images/info04.jpg);
}

// hero
.hero {
  background-image: url(../images/bg_home_mobile.jpg);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  padding-top: 22.22%;
  padding-bottom: 22.22%;

  @include media-breakpoint-up(md) {
    background-image: url(../images/bg_home.jpg);
    background-size: cover;
    padding-top: 14.31%;
    padding-bottom: 14.31%;
  }
}

.intro {
  .card {
    border: none;
    border-radius: 12px;
    background-color: $dark;

    .material-icons {
      @include text-gradient;
    }

    @include media-breakpoint-up(xl) {
      opacity: 0.5;
      background-color: $primary;
      .material-icons {
        color: $white;
      }

      &:hover {
        opacity: 1;
        outline: $main-green 1px solid;
        background-color: $dark;
        .material-icons {
          @include text-gradient;
        }
      }
    }
  }

  @include media-breakpoint-up(xl) {
    .block-title::after {
      left: 0;
      transform: translate(0, 16px);
    }
  }
}

.lesson {
  .lesson-list {
    animation: scroll 20s linear infinite;
  }
  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-1000px);
    }
  }
}

.course-flow {
  .card {
    border-radius: 12px;
    background-color: unset;
  }

  .course-flow-number {
    color: $main-green;
    font-size: 48px;
    line-height: 56px;
    font-family: $font-family-monospace;
    font-weight: bold;
    display: block;
    position: absolute;
    padding-left: 8px;
    padding-right: 8px;
    transform: translate(-8px, -135%);
    background-color: $main-gary;
  }
}

.recomand-course {
  .teacher {
    &.card:hover {
      outline: 2px solid $main-green;
    }

    .card-title {
      line-height: 29px;
      @include media-breakpoint-up(md) {
        min-height: 58px;
      }
    }

    .card-footer {
      border-top: 1px #c1c1c1 solid;
    }
  }
}

.about-card{
  @include media-breakpoint-up(xl){
    padding-top: 216px !important;
    padding-bottom: 216px !important;
    transition: all .5s;

    p {
      opacity: 0.5;
    }

    .block-title::after{
      left: 0;
      transform: translate(0, 16px);
      background-color: $white;
      transition: all .3s;
    }

    .material-icons{
      color: $white !important;
      opacity: 0.5;
    }

    &:hover {
      background-color: rgba($main-gary, 0.12);

      p {
        opacity: 1;
      }

      .material-icons {
        color: $main-green !important;
        opacity: 1;
      }

      .block-title::after{
        width: 70px;
        background-color: $main-green;
      }
    }
  }

  background-color: rgba($main-gary, 0.9);

  p{
    opacity: 0.8;
    white-space:nowrap;
  }
}

.article{
  @include media-breakpoint-up(xl) {
    .hover-effect{
      border-radius: 12px;
      transition: all .7s;
      z-index: 1;
      &:hover {
        outline: 1px solid $main-green;
        &::before{
          content: '';
          position: absolute;
          width: calc(100% + 6px);
          height: calc(100% - (32px * 2));
          left: -2px;
          top: 32px;
          border-left: $main-gary 6px solid;
          border-right: $main-gary 6px solid;
          pointer-events: none;
        }
        &::after{
          content: '';
          position: absolute;
          width: calc(100% - (32px * 2));
          height: calc(100% + 6px);
          top: -2px;
          left: 32px;
          border-top: $main-gary 6px solid;
          border-bottom: $main-gary 6px solid;
          pointer-events: none;
        }
      }
    }
  }
}

.evaluation {
  .banner {
    transform: translateX(5px);

    img{
      max-width: calc(100% - 5px);
    }
    .share-pic {
      position: relative;
      &::before {
        content: '';
        position: absolute;
        height: 100%;
        width: calc(100% - 5px);
        border: 1px solid #7c7e77;
        top: 0;
        left: 0;
        transform: translate(-5px, 5px);
        z-index: -10;
        border-radius: 24px;
      }
    }
  }

  .student {
    margin-top: 45px;
    margin-bottom: 32px;
    .avatar {
      transform: translate(-32px, -40%);
    }
    img {
      width: 80px;
      height: 80px;
    }
  }

  .swiper-controller {
    max-width: 144px;
    margin: 0 auto;
  }

  h3,
  p {
    color: #494755;
  }

  .button-next,
  .button-prev {
    z-index: 10;
  }

  .pagination-bullet {
    border-radius: 50%;
    width: 8px;
    height: 8px;
    display: inline-block;
    background-color: $main-green;
    margin-right: 4px;
    margin-left: 4px;
    transition: all 0.3s;

    &:first-child {
      margin-left: 16px;
    }

    &:last-child {
      margin-right: 16px;
    }

    &-active {
      width: 16px;
      border-radius: 100px;
    }
  }

  @include media-breakpoint-up(md) {
    background-image: url(../images/bg_share.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    .banner {
      transform: translateX(22px);
      img{
        max-width: 100%;
      }
      .share-pic::before {
        transform: translate(-10px, 10px);
        width: 100%;
      }
    }

    .student {
      margin-top: 0px;
      margin-bottom: 0px;
      transform: translateX(-32px);
      .avatar {
        transform: translate(-32px, -50%);
      }
      img {
        width: 100px;
        height: 100px;
      }
    }

    .swiper-controller {
      position: absolute;
      right: 60%;
      user-select: none;
    }
  }
}

.call-to-action {
  .material-icons {
    font-size: 104px;
    opacity: 0.5;
  }
}
