<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
      <div class="container">
        <a class="navbar-brand py-4" href="./index.html">
          <img src="./assets/images/logo.svg" alt="logo" width="174.42" height="42">
        </a>
        <div class="d-flex">
          <ul class="navbar-nav d-flex align-items-center">
            <li class="nav-item me-12">
              <a class="nav-link text-white" href="./index.html">首頁</a>
            </li>
            <li class="nav-item me-12">
              <a class="nav-link text-white" href="./class.html">課程介紹</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#login" data-bs-toggle="modal" data-bs-target="#loginModal"><span class="material-icons me-1">
                account_circle
                </span>登入</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <%- contents %>

    <footer class="footer bg-secondary text-center py-lg-6 py-4">
      Coding Home © 2022 All Rights Reserved
    </footer>

    <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="loginModalLabel">登入</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            登入的表單放這
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>

    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>