<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary p-0">
      <div class="container">
        <h1 style="font-size: 0;">Coding Home | 程式家教</h1>
        <a class="navbar-brand py-6 fs-1" href="./index.html">
          <img class="d-none d-lg-inline" src="./assets/images/logo.svg" alt="logo" width="174.42" height="42">
          <img class="d-lg-none" src="./assets/images/logo2.svg" alt="logo" width="24" height="24">
        </a>
        <a class="navbar-toggler border-0 py-6" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="material-icons text-main-green">
            drag_handle
            </span>
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-lg-0">
            <li class="nav-item me-lg-12 mx-auto">
              <a class="nav-link pb-3 pt-6 py-lg-2 text-white fs-9 fw-light" href="./index.html">首頁</a>
            </li>
            <li class="nav-item me-lg-12 mx-auto">
              <a class="nav-link py-3 py-lg-2 text-white fs-9 fw-light" href="./class.html">課程介紹</a>
            </li>
            <li class="nav-item mx-auto">
              <a class="nav-link pt-3 pb-6 py-lg-2 text-white fs-9 fw-light" href="#login" data-bs-toggle="modal" data-bs-target="#loginModal"><span class="material-icons me-1">
                account_circle
                </span>登入</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <%- contents %>

    <footer class="footer bg-secondary text-center py-lg-6 py-4">
      Coding Home © 2022 All Rights Reserved
    </footer>

    <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="loginModalLabel">登入</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            登入的表單放這
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>

    <script src="./assets/js/vendors.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>